/*

    Main color: #B4BBBF;

*/

.navbar > div.container > a {
    color: #454C51;
    font-size: 1.7rem;
}

.navbar-nav li.nav-item > a {
    color: #8F99A0;
}

.color_selector {
    /*background: red;*/
}

#color_generations {
    /*background: orange;*/
}

#color_generations .col-3 {
    padding: 2px 2px !important;
}

#select_color_form {
    padding: 0px;
}

#select_color_form input {
    margin: 10px auto;
}

#main {
    /*background: red !important;*/
}

#footer {
    background: gray;
}

.card-color-header {
    height: 100px;
}

.card-body {
    padding: 0.5rem !important;
}

.card-body p {
    font-size: 12px;
    font-weight: 500;
    margin: 0.4rem 0.6rem !important
}

#shades_row, #tints_row {
    margin-bottom: 1.8rem;
}

div.variation_title > h5 {
    font-weight: 500;
    color: #8F99A0;
    padding-bottom: 0.5em;
}

#top_navbar {
    background: #EBEDEE;
    margin-bottom: 2rem;
}

#bottom_navbar {
    background: #EBEDEE;
}

#create_button {
    transition: all .4s ease;
    border: 1px solid #8F99A0;
    color: #8F99A0;
}

#create_button:hover {
    background: #8F99A0;
    color: #FFFFFF;
}