/*
 * Filename: main.css
 * Path: assets/css
 * Created Date: Monday, December 30th 2019, 3:39:18 pm
 * Author: Fran
 * 
 * Main CSS file of this project.
 */

:root {
    --cs-main-color: #7510F7;
    --cs-input-color: #BAC7CF;
    --cs-second-color: #F0E4FA;
    --cs-titles-color: #1f1f1f;
    --cs-combinations-color: #AE73FA;
    --cs-transition: all .4s ease;
    --cs-footer-sections-height: 350px;
}

/* Top bar */

#top_navbar {
    background: #7510F7;
    margin-bottom: 2rem;
}

.navbar > div.container > a {
    color: #FFFFFF;
    font-size: 1.7rem;
}

.navbar-nav li.nav-item > a {
    color: var(--cs-second-color);
    transition: var(--cs-transition);
}

.navbar-nav li.nav-item > a:hover {
    color: #FFFFFF;
}

#color_generations {
    min-height: 1200px;
}

#color_generations .col-3 {
    padding: 2px 2px !important;
}

/* Form */

#select_color_form {
    padding: 0px;
}

#select_color_form input {
    border: 1px solid var(--cs-input-color);
    color: var(--cs-main-color);
    font-size: 0.85rem;
    margin: 10px auto;
    width: 200px;
}

#select_color_form input::placeholder {
    color: var(--cs-input-color);
}

#select_color_form button {
    display: block;
    height: 44px;
    margin: 15px auto;
    width: 200px;
}

#create_button {
    background: var(--cs-main-color);
    border: var(--cs-main-color);
    color: #FFFFFF;
    transition: all .4s ease;
}

#create_button:hover {
    cursor: pointer;
}

/* Main */

.card:hover {
    cursor: pointer;
}

.card-color-header {
    height: 100px;
}

.card-body {
    padding: 0.5rem !important;
}

.card-body p {
    font-size: 0.73rem;
    font-weight: 500;
    margin: 0.4rem 0.52rem !important;
}

#shades_row, #tints_row {
    margin-bottom: 3rem;
}

#combinations_row {
    margin-bottom: 3rem;
    min-height: 200px;
}

#color_combinations_list {
    list-style: none;
    margin-left: 0;
    display: inline-flex;
    padding: 0px 0.5rem 0px 0px;
}

#color_combinations_list li {
    font-size: 0.9rem;
    margin-right: 1rem;
}

#color_combinations_list a {
    border-bottom: none;
    color: #adb5bd;
    text-decoration: none;
    transition: var(--cs-transition);
}

#color_combinations_list a:hover {
    color: #495057;
    cursor: pointer;
}

div.variation_title > h5 {
    color: var(--cs-titles-color);
    font-size: 1.65rem !important;
    font-weight: 500;
    padding-bottom: 0.5em;
}

/* Color picker */

#colorPicker{
    width: 255px;
}

.iro__colorPicker {
    margin: auto auto 21px auto !important;
}

/* Footer */

#about {
    background: #7510F7;
    display: block;
    height: 420px;
    padding-top: 4rem;
}

#about_description {
    height: 250px;
}

#logo_description {
    height: var(--cs-footer-sections-height);
}

#logo_description span {
    color: #FFFFFF;
    font-size: 1.7rem;
    font-weight: 800;
}

#logo_description p{
    color: var(--cs-second-color);
    margin-top: 1.5rem;
}

#footer_links {
    height: var(--cs-footer-sections-height);
}

#footer_links ul {
    list-style: none;
    text-align: right;
} 

#footer_links li > a {
    color: var(--cs-second-color);
    padding-bottom: 0.5rem;
    transition: var(--cs-transition);
}

#footer_links li > a:hover {
    color: #FFFFFF;
}

#copyright {
    border-top: 1px solid var(--cs-second-color);
    color: var(--cs-second-color);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin-left: 0px;
    padding-top: 1rem;
}

#about_name {
    margin-left: -30px;
}
